<footer class="footer mt-auto py-3 bg-primary">
    <div class="container">
        <div class="row">

            <div class="col-7 text-light">
                <a href="https://nodejs.org/pt"><img src="/images/images.png" alt="NodeExpress" width="170px"></a>
            </div>

            <div class="col-3 text-light">
                <p class="text-light">Para suporte:</p>
                <li><a href="#" class="text-light">Ajuda</a></li>
                <li><a href="#" class="text-light">Suporte</a></li>
                <li><a href="#" class="text-light">Perguntas frequente</a></li>
                <li><a href="#" class="text-light">Seguir</a></li>
            </div>

            <div class="col-2 text-light">
                <p class="text-light">Contatos:</p>
                <dl style="height: 20px;">
                    <a href="#"><img src="/images/instagram.png" alt="Instragram" width="25px"></a> 
                    <a href="#"><img src="/images/whatsapp.png" alt="Whatsapp" width="25px"></a>
                </dl>

                <dl style="height: 20px;">
                    <a href="#"><img src="/images/youtube.png" alt="Instragram" width="25px"></a> 
                    <a href="#"><img src="/images/facebook.png" alt="Instragram" width="25px"></a>
                </dl>
            </div>

        </div>
    </div>
</footer>
