
<div class="container" >
    <h1>Quem Somos</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada mattis facilisis. 
        Morbi suscipit iaculis tincidunt. Nulla facilisi. Pellentesque non finibus mi. Nullam imperdiet libero lacus, 
        id porttitor dolor molestie vitae. Donec eget fermentum tellus, eget porttitor orci. Sed eget tempor risus. 
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin risus est, tincidunt at nibh a, 
        commodo pellentesque turpis.</p>

    <iframe width="356" height="200" src="https://www.youtube.com/embed/OOuo0N3Zboc?si=xNLjAboN_eFrM_Rb" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br>
    
    <img src="/images/quemsomos.png" alt="Quem somos" height="200" width="200">
    <img src="/images/windows.jpg" alt="Windows 22h4" height="200" width="320">

</div>
