<h1>Aluno</h1>
<a href="/aluno/add" class="btn btn-success mb-3">Adicionar Aluno</a>
<a href="/aluno/edit" class="btn btn-success mb-3">Editar Aluno</a>


<table class="table table-bordered"> <!--Tabela-->
    <thead> <!--Cabecario da Tabela-->
        <tr> <!-- Uma coluna da Tabela-->
            <th>ID</th> <!--Uma linha da tabela-->
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
